{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-6" id="header-text">
            <h4>The most diversed car collection: </h4>
            <br>
            <h1 id="car-select">CAR SELECT</h1>
            <button class="btn btn-light">View Our Gallery</button>
            <button class="btn btn-light">Follow Our IG</button>
        </div>
        <div class="col-6">
            <img src="../../static/images/big.png" alt="big" id="big-img">
        </div>
    </header>

    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Want to be a part of the community?</h2>
            <p>Sign up to become a member for more information regarding steps to enroll as a CAR SELECT expert!</p>
        </div>
    </section>

    <section class="row" id="features-section">
        <h1>CAR SELECT EXPERT BENEFITS</h1>
        <div class="col-12 col-md-4">
            <img src="../../static/images/car1.png" alt="Car Illustration1" id="car-illustration1">
            <h4>1. Exclusive Collection</h4>
            <p>We have the most EXCLUSIVE collection on the market that you can ever find.</p>
        </div>
        
        <div class="col-12 col-md-4">
            <img src="../../static/images/car2.png" alt="Car Illustration2" id="car-illustration2">
            <h4>2. Direct Transaction</h4>
            <p>Direct transaction with other community expert, abandoning uneccesary middle-man fees.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="../../static/images/car3.png" alt="Car Illustration3" id="car-illustration3">
            <h4>3. NFT</h4>
            <p>Collect a NFT of your personal car in the METAVERSE. FLEX IT ANYWHERE YOU WANT!</p>
        </div>
    </section>

    <section class="row justify-content-center">
        <div class="col-6">
            <img src="../../static/images/tt.png" alt="community" id="community-img">
        </div>

        <div class="col-8">
            <h4>We are a highly selective community for both participants and their cars.</h4>
            <br>
            <p>
                Sign up and apply to become a member of our community.
                You will receive instant access to CAR SELECT's collection promptly. 
                Other expert's collection will be available as soon as we approve your application!
            </p>
            <button class="btn btn-light">Join Us</button>
            <button class="btn btn-light">View Our Gallery</button>
        </div>
    </section>

    <footer class="row footer" id="footer">
        <div class="col-sm-4">
            <img src="../../static/images/logo.png" alt="logo" id="logo-img">
        </div>
        <div class="col-sm-8">
            <div class="footer-text-flex">
                <h4>CAR SELECT</h4>
                <p>About us</p>
                <p>Gallery</p>
                <p>Join us</p>
                <p>Contact us</p>
                <p>Career</p>
            </div>
        </div>

    </footer>
</div>

{% endblock content %}