{% extends 'base.html'%}

{% block content %}

<header class="hero-section">
    <h3 class="header-text">Welcome to CAR SELECT {{ current_user.first_name }} </h3>
</header>

<div class="container">
    <h3>Profile Information</h3>
    <ul class="list-group">
        <li class="list-group-item">First Name: {{ current_user.email }} </li>
        <li class="list-group-item">Last Name: {{ current_user.email }} </li>
        <li class="list-group-item">Email: {{ current_user.email }} </li>
        <li class="list-group-item">User Token: {{ current_user.token }} </li>
        
        <!--TODO: Add Access Key-->
        
    </ul>
</div>

{% endblock content %}